.descriptionsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bloc-1 {
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        margin: 0;
    }
    &__location {
        font-size: 14px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    &__tagsContainer {
        display: flex;
        flex-wrap: wrap;
    }
}

.bloc-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.hostContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;

    &__name {
        font-size: 12px;
        text-align: end;
        margin-right: 10px;
        width: 60px;
        line-height: 18px;
    }
    &__picture {
        height: 32px;
        width: 32px;
        border-radius: 100%;
    }
}

.collapsesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .descriptionsContainer {
        justify-content: space-between;
        flex-direction: initial;
    }

    .bloc-1 {
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        &__title {
            font-size: 30px;
            line-height: normal;
        }
        &__location {
            font-size: 18px;
            margin-bottom: 15px;
            margin-top: 10px;
        }
    }

    .bloc-2 {
        flex-direction: column;
        margin-top: 0;
    }

    .hostContainer {
        justify-content: end;
        padding-left: 55px;
        margin-bottom: 20px;

        &__name {
            font-size: 18px;
            width: 90px;
            line-height: 25px;
        }
        &__picture {
            height: 64px;
            width: 64px;
        }
    }

    .collapsesContainer {
        flex-direction: initial;
        justify-content: space-between;
    }
}

@media screen and (min-width: 992px) {
    .bloc-1 {
        &__title {
            font-size: 36px;
        }
    }
}
