@import "main";

.banner {
    @include image-style-bannerAndSlide;
    margin-bottom: 10px;
    border-radius: 10px;

    &--apartment {
        height: 111px;
    }

    &--aboutUs {
        height: 223px;
    }

    // to make a filter on the banner picture
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.3;
        border-radius: 10px;
        @include flex-disposition();
    }

    &__title {
        font-size: 24px;
        font-weight: normal;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: left;
        margin: 0 0 0 20px;
        width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .banner__img--aboutUs {
        height: 100%;
    }
}

@media screen and (min-width: 450px) {
    .banner--apartment {
        height: 156px;
    }
}

@media screen and (min-width: 576px) {
    .banner {
        &--apartment {
            height: 200px;
        }

        &__title {
            font-size: 38px;
        }
    }
}

@media screen and (min-width: 768px) {
    .banner {
        height: 223px;
        border-radius: 25px;

        &::before {
            border-radius: 25px;
        }

        &__title {
            font-size: 48px;
            text-align: center;
            margin: 0;
        }
    }
}

@media screen and (min-width: 576px) {
    .banner {
        &--apartment {
            margin-bottom: -5px;
        }
    }
}
