@import "main";

.collapseContainer {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 13px;

    &--apartmentPage {
        font-size: 13px;
    }

    &__collapse {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 30px;
        background-color: $main-color;
        border-radius: 5px;
        justify-content: space-between;

        &__title {
            color: white;
            margin-left: 10px;
        }
        &__icon {
            margin-right: 10px;
            height: 9.14px;
        }

        &:focus-visible {
            outline: none;
            box-sizing: border-box;
            border: 3px solid darken($secondary-color, 30%);
            border-radius: 0;
        }
    }

    &__description {
        color: $main-color;
        font-weight: 400;
        background-color: $secondary-color;
        margin: 0;
        padding: 30px 10px 50px 10px;
        &--apartmentPage {
            padding-bottom: 10px;
        }
        bottom: 10px;
        font-size: 12px;
        border-radius: 5px;
        position: relative;
        z-index: -1;
    }
}

.ulEquipements {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .collapseContainer {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        font-size: 24px;

        &--apartmentPage {
            font-size: 18px;
            width: 47%;
        }
        &__collapse {
            height: 47px;
            border-radius: 5px;
            align-items: center;
            &__title {
                margin-left: 15px;
            }
        }
        &__description {
            padding: 40px 20px 20px 20px;
            bottom: 10px;
            font-size: 24px;
            &--apartmentPage {
                font-size: 18px;
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .collapseContainer__collapse__icon {
        height: 13.71px;
        margin-right: 30px;
    }
}
