footer {
    background-color: black;
    text-align: center;
    height: 209px;
    vertical-align: center;
}

.logoFooter {
    margin: 60px 0 25px 0;
}

.copyRighting {
    color: white;
    margin: 0;
    font-size: 12px;
}

@media screen and (min-width: 992px) {
    .logoFooter {
        margin: 65px 0 40px 0;
    }

    .copyRighting {
        font-size: 24px;
    }
}
