footer {
    background-color: black;
    text-align: center;
    height: 209px;
    vertical-align: center;
}

.logoFooter {
    margin: 65px 0 40px 0;
}

.copyRighting {
    color: white;
    margin: 0;
    font-size: 24px;
}
