@import "main";

.globalSection {
    @include flex-disposition(initial);

    &--homeSection {
        flex-direction: column;
        margin-bottom: 150px;
    }

    &--aboutUsSection {
        margin-top: 20px;
        margin-bottom: 150px;
        padding: 0;
        flex-direction: column;
    }

    &--errorSection {
        flex-direction: column;
        text-align: center;
    }

    &--apartmentSection {
        margin-top: 10px;
        margin-bottom: 100px;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .globalSection {
        &--homeSection {
            padding: 0;
            flex-direction: initial;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}

@media screen and (min-width: 992px) {
    .globalSection {
        &--homeSection {
            margin-top: 50px;
            background: $secondary-color;
            border-radius: 25px;
            padding: 10px 0 10px 0;
        }

        &--aboutUsSection {
            margin-top: 20px;
            margin-bottom: 15%;
            padding: 0 8% 0 8%;
            flex-direction: column;
        }

        &--errorSection {
            flex-direction: column;
            text-align: center;
        }

        &--apartmentSection {
            margin-top: 25px;
            margin-bottom: 150px;
            flex-direction: column;
        }
    }
}

@media screen and (min-width: 1382px) {
    .globalSection {
        &--homeSection {
            padding: 35px 0 35px 0;
        }
    }
}
