@import "main";

.slide {
    @include image-style-bannerAndSlide;
    height: 255px;
    margin-top: 20px;
    border-radius: 10px;

    &__img {
        height: 100%;
    }

    &__arrows {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        &__left {
            margin-left: 10px;
            height: 24px;
        }
        &__right {
            margin-right: 10px;
            height: 24px;
        }
    }

    &__imageNumber {
        position: absolute;
        bottom: 6%;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 18px;
    }
}

@media screen and (min-width: 577px) {
    .slide {
        height: 415px;
        margin-top: -30px;

        &__arrows {
            &__left {
                margin-left: 25px;
                height: 24px;
            }
            &__right {
                margin-right: 25px;
                height: 24px;
            }
        }
    }
}
