@import "main";

.starsContainer {
    text-align: left;
    font-size: 14px;

    &__star {
        margin-right: 5px;
        &--emptyStar {
            color: darken($secondary-color, 6%);
        }
    }
}

@media screen and (min-width: 577px) {
    .starsContainer {
        text-align: center;
        font-size: 24px;

        &__star {
            margin-left: 12px;
        }
    }
}
